@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

*{
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #f7f8fa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark {
  background-color: #0f172a; 
  color: #e2e8f0; 
}